@model IEnumerable<MVC_CC9.Models.Customer>
@{
    ViewBag.Title = "Customers With OrderId=10248";
}

<h2>Customers With OrderId 10248</h2>
<table border="1">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Company Name</th>
            <th>Contact Name</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
                <td>@customer.ContactName</td>
            
            </tr>
        }
    </tbody>
</table>
